	.tribe-bar-views-list li:hover span.tribe-icon-map, .tribe-bar-views-list li.tribe-bar-active span.tribe-icon-map { background-image:url(images/icon-map-hover.png); }
	.tribe-bar-views-list li:hover span.tribe-icon-photo, .tribe-bar-views-list li.tribe-bar-active span.tribe-icon-photo { background-image:url(images/icon-photo-hover.png); }
	.tribe-bar-views-list li:hover span.tribe-icon-week, .tribe-bar-views-list li.tribe-bar-active span.tribe-icon-week { background-image:url(images/icon-week-hover.png); }
	
	#tribe-events-photo-events .type-tribe_events.tribe-events-photo-event { padding:2px; background:#efefef; }
	.tribe-events-list.tribe-events-photo #tribe-events-photo-events .tribe-events-event-details h2 { display: inline-block; font-size: 20px; margin-bottom: 20px; }
	.tribe-events-photo-event-wrap { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }
	.tribe-events-photo-event-wrap:hover { background: #fff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
	
	.tribe-events-grid .tribe-grid-content-wrap .column, .tribe-week-grid-wrapper .column { margin-left:0; }
	.scroller-content .tribe-events-grid .column.first, .scroller-content .tribe-week-grid-hours { margin-right:-40px; }
	
	.tribe-grid-allday .tribe-events-week-allday-single a, .tribe-grid-body .tribe-events-week-hourly-single a, .tribe-grid-header .column, .tribe-grid-header { font-weight:700; }
	.post .tribe-events-single ul.tribe-related-events, .tribe-events-single ul.tribe-related-events { clear:both; margin:10px 0; }
	.tribe-events-related-events-title { margin-top:20px; }
	
	/* Border color */
	.tribe-week-grid-block div, .tribe-events-grid .tribe-grid-content-wrap .column, .tribe-grid-allday, .tribe-events-grid { border-color:rgba(0, 0, 0, 0.15); }
	
	
	.tribe-grid-allday .tribe-events-week-allday-single a, .tribe-grid-body .tribe-events-week-hourly-single a, .tribe-grid-header, .tribe-grid-header .column a, .tribe-grid-header .tribe-grid-content-wrap .column a, .page .tribe-events-grid .type-tribe_events .entry-title a, .tribe-events-grid .type-tribe_events .entry-title a { color:#fff; }
	
	.tribe-events-single ul.tribe-related-events li { width:31.66%; margin-right:2.5%; }
	.tribe-events-single ul.tribe-related-events li:last-child { margin-right:0; }
	
	
	/******** ====== Skins ========********/
	
	.tribe-grid-header, .tribe-grid-allday .tribe-events-week-allday-single, .tribe-grid-body .tribe-events-week-hourly-single, #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover, #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover, #tribe-bar-form .tribe-bar-submit input[type="submit"], #tribe-bar-views .tribe-bar-views-list li.tribe-bar-active a, .tribe-events-calendar thead th, #tribe-events-content .tribe-events-tooltip h4, .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"], .tribe-events-read-more, #tribe-events .tribe-events-button, .tribe-events-button, .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] > a, .tribe-events-back > a, #tribe_events_filters_toggle { background:#da0000; }
	
	.tribe-events-list .tribe-events-event-cost span { border-color:#da0000; }
	
	/* Dark */
	.tribe-grid-header .tribe-week-today { background-color:#8b8b8b; }
	#tribe-bar-form .tribe-bar-submit input[type="submit"]:hover, .tribe-events-read-more:hover, #tribe-events .tribe-events-button:hover, .tribe-events-button:hover, .tribe-events-back > a:hover, .datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover, #tribe_events_filters_toggle:hover, .tribe-grid-header, .tribe-grid-allday .tribe-events-week-allday-single, .tribe-grid-body .tribe-events-week-hourly-single { background:#8b8b8b; }
	
	/* Light */
	.tribe-grid-header .tribe-week-today { background-color:#ff2828; }
	.tribe-grid-allday .tribe-events-week-allday-single, .tribe-grid-body .tribe-events-week-hourly-single { border-color:#ff2828; }
	
	 @media only screen and (min-width:768px) and (max-width:991px) {
		 
		.tribe-events-single ul.tribe-related-events li { padding:0; }
		.tribe-events-single ul.tribe-related-events .tribe-related-events-thumbnail, .tribe-events-single ul.tribe-related-events li .tribe-related-event-info { float:left; width:100%; }
		.tribe-events-single ul.tribe-related-events li .tribe-related-event-info { padding:8%; }
	
	 }

	/* Common Styles for the devices below 767px width */
	@media only screen and (max-width: 767px) {
		
	   .tribe-events-single ul.tribe-related-events li { width:100%; margin-right:0; padding:0; }
	   .tribe-events-single ul.tribe-related-events .tribe-related-events-thumbnail { width:100%; }
	   .tribe-events-single ul.tribe-related-events li .tribe-related-event-info { width:100%; padding:8% 6%; }
	   
	}