.gutenberg__editor .editor-rich-text ul, .gutenberg__editor .editor-rich-text ol {
    margin: 0 0 1.5em 3em;
}

.gutenberg__editor .editor-rich-text ul {
    list-style: disc;
}

.gutenberg__editor .editor-rich-text ol {
    list-style: decimal;
}

.gutenberg__editor dt {
    font-weight: bold;
}

.gutenberg__editor dd {
    margin: 0 1.5em 1.5em;
}

.gutenberg__editor blockquote:before, .gutenberg__editor blockquote:after, .gutenberg__editor q:before, .gutenberg__editor q:after {
    content: "";
}

.gutenberg__editor blockquote, .gutenberg__editor q {
    quotes: "" "";
}

.gutenberg__editor address {
    margin: 0 0 1.5em;
}

.edit-post-visual-editor .editor-post-title__block, .edit-post-visual-editor .block-editor-block-list__block {
    max-width: 1000px;
}

/* Main column width */

body.gutenberg-editor-page .editor-post-title__block, body.gutenberg-editor-page .editor-default-block-appender, body.gutenberg-editor-page .block-editor-block-list__block {
    max-width: 800px;
}

/* 08-10-2018 (Updates) */

.gutenberg__editor img, .editor-styles-wrapper img {
    max-width: 100% !important;
}

.cs-sections .chosen-container, .chosen-container {
    width: 100% !important;
}

.block-editor-block-list__block-edit blockquote.wp-block-quote {
    margin: 0;
}

.block-editor-block-list__block .wp-block-pullquote blockquote {
    margin: 0;
    border: none;
    padding: 0;
}

/* 03-12-2018 (Updates) */

.edit-post-layout__content .editor-styles-wrapper {
    margin: 0;
}

.edit-post-layout__content .editor-styles-wrapper, .block-editor-block-list__layout .block-editor-block-list__block[data-align="full"] {
    max-width: none;
}

body.gutenberg-editor-page .block-editor .wp-block-categories ul {
    list-style-position: inside;
}


/** New co-blocks **/
.wp-block[data-type="coblocks/pricing-table-item"] .wp-block-coblocks-pricing-table-item.has-secondary-background-color { color: #000000; }
